[2019-09-12 15:00] houshengbo opened #2 "Create the infrastruture scripts to enable the prow builds"

[2019-09-12 15:18] #2 closed, assigned to nobody

[2019-10-18 16:26] houshengbo opened #13 "Per in-memory channel, we can controll the installation with an option"
Knative eventing supports the installation with or without IMC. We can create a new option in the CRD to determin whether to install it or not.

[2019-10-18 20:32] houshengbo opened #15 "Eventing operator needs similar prow job as opened in https://github.com/knative/serving-operator/issues/188"
Eventing operator also needs to verify if it works correctly with the latest eventing release yaml.

[2019-10-29 11:28] matzew opened #18 "Inconsistent CRD"
The Eventing Operator is not consitent with the *Serving Operator*

API from serving:
[code]

Note the `apiVersion: serving.knative.dev/v1alpha1` and `kind: KnativeServing`

*BUT* the eventing is totally different:

[code]

Suggestions:
* move API group to `eventing.knative.dev/v1alpha1` to be consistent with the Serving Operator  (or should the Serving Operator be in `operator.knative.dev/v1alpha

[2019-10-29 12:14] cardil commented on #18
In this commit's message: https://github.com/knative/eventing-operator/commit/edd8a6cca327a2ea526ffcdd2df2c04b36f4609e it's directly stated that:

[2019-10-29 12:37] matzew commented on #18
So the question is:

why ...

and if our kn operators should be better aligned

serving: is (still?) knativeserving
and apiGroup completely differs

I am not saying we have to change all here... I just think they should
better align... and there are different ways to get there

On Tue 29. Oct 2019 at 13:14, Chris Suszynski <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-10-29 14:41] cardil commented on #18
I think it should be here:

[code]

[2019-10-29 16:35] bbrowning commented on #13
We discussed this in the October 29th operations working group meeting. One of the points brought up is that we may want to think about how a user installs channel implementations in general and not just specifically solve this as a config option to install or not install the in-memory channel. Adding a new option to the config spec for each possible channel implementation doesn't seem like the ri

[2019-10-29 19:23] houshengbo commented on #18
@n3wscott @Harwayne What do you think of the CRD naming?

[2019-10-29 19:57] n3wscott commented on #18
I agree with @cardil. I could go either way for Eventing vs KnativeEventing. I tend to prefer shorter kinds and use the group to understand which is in context.

[2019-10-29 19:58] evankanderson commented on #18
I would prefer `operator.knative.dev` as the apiVersion to make it clear that these interfaces are aimed at the _operator_, rather than _developer_ persona.

[2019-10-29 19:59] evankanderson commented on #18
I would also argue for `Eventing` and `Serving` kinds, since "Knative" is already in the apiVersion.

[2019-10-29 20:11] houshengbo commented on #18
@matzew Shall we change the name of KnativeServing into Serving in serving operator?
I need to keep folks informed.
@bbrowning @jcrossley3 @k4leung4 Do you tend to make the changes in serving operator?

[2019-10-29 22:17] cardil commented on #18
I prefer longer `KnativeEventing`, `KnativeServing`. Shorter names do not nessesery inform someone what they listing or creating. On top of that there are short names `ke` or `ks`.

Users invoke commands like

[code]

[2019-10-30 01:25] n3wscott commented on #18
for the operator, I think short names like 'ke' are overkill. This is not a high interaction object.

even having to do something like `kubectl get eventing.operator.knative.dev -n foo` seems ok to me.

`Eventing` and `Serving` will interact with some groups we have used already to group eventing and serving objects.

[2019-10-30 01:51] bbrowning commented on #18
I'd agree that `Serving` and `Eventing` make the most sense, in much the same way we use `Service`, `Route`, `Broker`, etc instead of `KnativeService`, `KnativeRoute`, `KnativeBroker`.

[2019-10-30 06:26] matzew commented on #18
ok, I eill update the serving operator and change the kind to `Serving`

On Wed 30. Oct 2019 at 02:51, Ben Browning <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-10-30 17:03] matzew opened #23 "checks version of deployment matches version go file"
Task:

Change the controller to look for the `evening.knative.dev/release` label in the manifest and use that to set the status.version in the CR.

Add a test for that too

[2019-11-13 13:50] aliok opened #28 "Eventing operator should install core things and then IMC related things"
At the moment, eventing operator first installs the `0.10.0-imc.yaml` file and then `0.10.0.yaml`.
This causes some problems as the `imc-dispatcher` fails until the `config-tracing` is installed with  `0.10.0.yaml`.  Eventually problems resolve automatically, but in my experiments it caused some unnecessary confusion.

I was originally suggest that we simply use a single file, the `release.yaml` f

[2019-11-13 13:59] aliok opened #29 "Operator fails if `config-logging` and `config-observability` CMs don't exist"
When installing the operator with `ko apply -f config/` everything works fine as there are 2 YAML files in `config/` for those configMaps.

I am trying to install the operator with [OLM](https://github.com/operator-framework/operator-lifecycle-manager) and operator crashes because those 2 configMaps don't exist.
OLM doesn't allow creating a configMap along with the operator deployment at the momen

[2019-11-13 14:17] houshengbo commented on #29
@aliok This is true at this moment. I was trying to fix them in knative/pkg, but no luck.

I am even working on a PR for the operatorhub.io here: https://github.com/operator-framework/community-operators/pull/880
these two configmaps are the hurdle as well.

[2019-11-13 14:20] houshengbo commented on #28
@aliok Not yet.
We so far decided to install IMC anyway regardless of the options, since it is another tough question we need to resolve to install operators based on configurations across both eventing and serving operators.

[2019-11-13 14:26] matzew commented on #13
So, the question really is ... do we want to have channel operators ?

`eventing-operator` intalling "just" core... (does the IMC really cause any harm?)

and per channel, one operator.   I think I'd buy that for mature channels (or those that are likely being used in PROD, e.g. Kafka, Nats, ...)

Perhaps... since the IMC is kinda default, and handy _for the IMC_ it could be an option  ?  to confi

[2019-11-13 16:34] aliok commented on #29
@houshengbo so, same thing also happens in serving? I can create an issue there too.

[2019-11-13 21:50] houshengbo commented on #29
@aliok Right. It happened in both serving and eventing operators.
I committed a PR in knative/pkg to resolve it: https://github.com/knative/pkg/pull/872, but I am not whether it is in the favor.

[2019-11-14 16:59] houshengbo commented on #29
We have resolved this issue after updating the dependency of knative/pkg with knative/pkg#872 merged.

[2019-11-14 16:59] houshengbo commented on #29
/close

[2019-11-14 16:59] #29 closed

[2019-11-14 18:24] #28 closed

[2019-11-15 16:03] n3wscott opened #38 "I don't think the short name `ke` should be set"
There is a finite amount of two letter short names that k8s can have, if we reserve 'ke' for the knative eventing operator I worry about the future conflicts for resources that someone might interact with often. I do not expect someone to be touching the eventing operator object very much and a fully qualified name to use it seems to not be that big of deal.

[2019-11-18 11:09] aliok commented on #23
@matzew

Now that the versions are consistent (I mean after my PR is merged), doesn't really matter where the version info comes from.

[2019-11-18 12:58] #23 closed

[2019-12-05 20:01] matzew commented on #18
Coming back to this.

My vote here would be to use `KnativeEventing`, instead of just (the shorter) `Eventing` name. This would align it very well with the `KnativeServing` that we have for serving.

Please see comments from @rhuss why we should not name it just `Eventing`, but `KnativeEventing` instead, here: were we did _incorrectly_ name both of our Kinds `Install`: for Serving and Eventing:
ht

[2019-12-06 08:45] matzew commented on #38
I'd think that `keo` even makes more sense, than `ke`. In redhat we do internally speak about these as `k-s-o` or `k-e-o` ...

However, if we change here, we should... perhaps do so for serving as well:
https://github.com/knative/serving-operator/blob/master/config/300-serving-v1alpha1-knativeserving-crd.yaml#L23

/cc @jcrossley3

[2019-12-06 13:38] aliok commented on #38
IMO, with `kubectl` autocomplete, I never care about the short names like that.
Is there any other case other than `kubectl` that make use of short names?

[2019-12-06 13:48] jcrossley3 commented on #38
I like the short name. And I miss when it doesn't work because I have both `knativeservings.operator.knative.dev` and `knativeservings.serving.knative.dev` installed, for which I also blame y'all. :stuck_out_tongue_winking_eye:

I wouldn't want to change it to `kso` or `keo` because those imply the operator to me, rather than the CR it's watching. I could live with `kserve` or `kevent` maybe.

If

[2019-12-06 22:04] k4leung4 commented on #18
Is the kind the last thing we are trying to decide on?

my 2c
I don't feel strongly between KnativeServing / Serving.
Shorter would be nice, but if there is a risk of confusion, KnativeServing feels like a safer choice.

This been debated for a month, do we feel we need consensus from the community or are we leaving it up to the leads to make the final decision?

[2019-12-07 04:29] houshengbo commented on #18
I do not have strong preference either. I am OK with going on the transition from Eventing to KnativeEventing, as long as @n3wscott has no strong opinion.

[2019-12-10 18:21] cardil commented on #18
On Operations WG there was a decision made to revert eventing to use `KnativeEventing` as it's CR. That change should be made after 0.11 is cut.

[2019-12-11 11:19] dashwang opened #47 "Will the native reconciler in knative/eventing be replaced with knative/eventing-operator?"
Controller developed with kubebuilder or operator-sdk is more easier than the native one, so will the native reconciler be replaced with the eventing-operator?

[2019-12-11 11:21] dashwang commented on #47
@mattmoor

[2019-12-11 12:50] matzew commented on #18
https://github.com/knative/eventing-operator/commit/edd8a6cca327a2ea526ffcdd2df2c04b36f4609e#diff-7a081b0f4091cb8bf38f54d49be61c66R8

It never was `KnativeEventing`, so nothing to revert  ;-)

[2019-12-12 13:57] bbrowning commented on #18
@houshengbo As far as upgrade, that's a good question. We're actively working on how to upgrade our existing OpenShift users from the old KnativeServing operator API group to the new KnativeServing operator API group. We can share the knowledge gained from that with the wider audience as far as how we can handle group, version, kind, and related changes in the operator CRD.

[2019-12-16 18:57] houshengbo opened #54 "Upgrade issue: Only one reference can have Controller set to true."
The old version of the CRD is called Eventing, and the new version of the CRD is called KnativeEventing. When I am testing if it is able to do the upgrade, by installing the new CR, when the old CR still exists. This is the error message I have got:
[code]

[2019-12-16 18:58] houshengbo commented on #54
@jcrossley3 @n3wscott

[2019-12-16 19:07] bbrowning commented on #54
@houshengbo It looks like the eventing operator needs special logic to handle renaming the CRD during upgrade. One of those special places where it needs logic will be in handling anything with owner references to the old CR, like this.

A more general upgrade strategy needs to be defined here. How long will we support the old CRD name in some deprecated form? Will the operator now reconcile both

[2019-12-16 20:45] houshengbo commented on #54
@bbrowning For eventing-operator, we decided to release 0.11.0 with the CRD kind Eventing. After that, we will change the CRD kind into KnativeEventing.

I am currently trying to implement a PoC for the upgrade path here: https://github.com/knative/eventing-operator/pull/53. I create a separate reconciler called version controller dedicated to to the upgrade and even the downgrade.

If we have an

[2019-12-17 15:39] houshengbo opened #55 "Feature to be implemented: how to upgrade the eventing operator(applicable to serving operator as well))"
I am currently planning to implement a new reconciler called version-controller, plus a version controller CRD, to conduct the upgrade and even downgrade of the operator.

We need to have an official release as the foundational one, which starts to support the upgrade and downgrade. For example, if we pick the coming release 0.11.0 as the first one, the releases after 0.11.0, like 0.12.0, 0.13.0,

[2019-12-20 08:43] aliok commented on #55
@houshengbo

I understand the reasoning behind the separate version controller.
It doesn't make sense to delete old CRs and create new CRs within the eventing operator. The operator is managing those resources, so, wouldn't make sense if operator creates the resources it manages.

I have some concerns around the new CR though:

[code]

1. This seems very imperative to me. Kubernetes resources shou

[2020-01-10 11:16] aliok opened #68 "Have OLM metadata in source repo for reference"
It is a good practice to have the OLM metadata in the source tree for reference and also for tooling (to generate new metadata when a new version of the operator arrives).

We have the Knative eventing operator now published at OperatorHub.io: https://operatorhub.io/operator/knative-eventing-operator

PR for OperatorHub: https://github.com/operator-framework/community-operators/pull/918

[2020-01-10 11:22] aliok opened #70 "Tooling to generate OLM metadata"
Metadata published to OperatorHub (see https://github.com/knative/eventing-operator/issues/68) is initially created manually.

For future versions, we can generate the OLM metadata using the manually created one.

[2020-01-10 11:23] aliok commented on #70
/assign @aliok

[2020-01-10 11:24] aliok commented on #70
We can use Operator SDK cli to generate CSV also for non-Operator-SDK operators.

I've done some experiments here: https://github.com/aliok/eventing-operator/tree/olm-experiments-bundle

Filed 2 tickets:
1. https://github.com/operator-framework/operator-sdk/issues/2266
2. https://github.com/operator-framework/operator-sdk/issues/2267

and objected https://github.com/operator-framework/operator-sdk

[2020-01-13 18:05] #68 closed

[2020-01-20 22:04] houshengbo opened #74 "Create an new CR of `KnativeEventing`, if old CR `Eventing` exists"
As of the coming release of 0.12.0, we change the CRD's Kind name from Eventing to KnativeEventing.
There should be a logic checking if there is old version of the CR Evening existing in the cluster.

If so, create a CR in new version.

[2020-01-22 18:50] houshengbo opened #76 "If we delete the old cr with the propagation policy "orphan", and IMMEDIATELY create the new CR, we will run into the following issue."
**Describe the bug**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior.

**Knative release version**
The Knative version, where you find this issue.

**Additional context**
Add any other context about the problem here such as proposed priority

[2020-01-22 20:56] #74 closed

[2020-01-23 16:47] houshengbo opened #81 "Add the upgrade guidance on how to upgrade old versions like 0.10, 0.11 to 0.12"
Add the upgrade guidance on how to upgrade old versions like 0.10, 0.11 to 0.12

[2020-01-23 19:04] #81 closed

[2020-01-23 21:15] kramvan1 opened #83 "CRD options for image registry and namespace"
**Problem**

The images the operator lays down could be from a different image registry hub. (for security and scanning reasons).   Therefore need a way in the CRD to specify the image registry

Something simple like:   `hub:  myhub.io`

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Event consumer (developer)

**Exit Criteria**

[2020-01-28 19:24] houshengbo commented on #83
@kramvan1
Is it something similar to https://github.com/knative/serving-operator/blob/master/config/300-serving-v1alpha1-knativeserving-crd.yaml#L70, as in serving-operator?

[2020-01-29 18:33] houshengbo opened #90 "Removal of sources-controller after 0.12.0"
Based on the change here: https://github.com/knative/eventing/pull/2448
It is time for operator to shine, in terms of upgrade without manual interruption.

[2020-01-31 11:55] aliok commented on #18
I think we can close this ticket.

Latest CRDs are consistent.

`knativeeventings.operator.knative.dev`: https://github.com/knative/eventing-operator/blob/master/config/300-eventing-v1alpha1-knativeeventing-crd.yaml#L4

`knativeservings.operator.knative.dev`: https://github.com/knative/serving-operator/blob/master/config/300-serving-v1alpha1-knativeserving-crd.yaml#L4

cc @matzew

[2020-01-31 12:02] aliok opened #91 "Migrate source apis to new api group"
See these:
- KafkaSource: https://github.com/knative/eventing-contrib/issues/863
- GithubSource: https://github.com/knative/eventing-contrib/issues/862
- PrometheusSource: https://github.com/knative/eventing-contrib/issues/864
- AWSSQSSource: https://github.com/knative/eventing-contrib/issues/865
- CouchDBSource: https://github.com/knative/eventing-contrib/issues/866

and, other sources.

[2020-01-31 12:02] aliok commented on #91
/label upgrade

[2020-01-31 12:03] aliok commented on #91
@houshengbo can't add the `upgrade` label myself to the ticket.

[2020-01-31 14:55] houshengbo commented on #91
@aliok I don't think operator touches any sources from eventing-contrib. It is only limited to eventing core.

[2020-02-03 15:23] houshengbo opened #92 "Add the support to install event sources"
**Describe the bug**
We cannot install any event resource available in https://github.com/knative/eventing-contrib.

**Expected behavior**
Install the event sources available in the repo eventing-contrib. Make the CR able to configure the list of event sources, to be installed in the knative eventing.

The custom resource will look like this:
[code]

We can use a comma separated string to specify

[2020-02-03 15:41] houshengbo commented on #92
I would like to see that we can specify which version of the event sources to be installed, so we can read and load the manifest of event-contrib online.

[2020-02-03 16:08] lionelvillard commented on #92
@matzew

[2020-02-03 16:09] lionelvillard commented on #92
an alternative it to have one operator per event source. eg: https://github.com/openshift-knative/knative-kafka-operator

[2020-02-03 16:21] matzew commented on #92
I think I am not really sure we should add that to the `KnativeEventing` CR ...

[code]

would be IMO a better separation? Also, not all users want sources from contrib mixed in the "core install" for Eventing

[2020-02-03 16:22] matzew commented on #92
that does _currently_ install both: Source and Channel, via one CR.  We are looking to change that, so that our "knative kafka operator" can install the bits indiviually,  you pick what you want, e.g. just the source, or just the channel, or both

[2020-02-03 16:28] houshengbo commented on #92
Will eventing sources be independent of serving and eventing?
The reason I ask this question is that there is discussion going on https://github.com/knative/serving-operator/issues/275 about whether to merge the eventing and serving operators.

Does event source need to be taken int account or will it be separate regardless of the decision?

[2020-02-03 16:44] matzew commented on #92
I think that SERVING/EVENTING are more core, and more stable than "any random" source from contrib.  So, not sure we should have all sources in the one and only operator for knative

[2020-02-03 17:38] houshengbo commented on #92
Per the discussion in knative/serving-operator#275, it seems the vast majority of the knative community prefer to have one operator for knative. If this is an inevitable direction, we have to think about putting future knative CRDs, including the event sources we talked about here, into existing repo, instead of creating new repos. If we still move on the operator work into a multi-operator struct

[2020-02-04 11:30] aliok commented on #91
LOL, yes. Closing this one.

[2020-02-04 11:30] #91 closed

[2020-02-04 11:33] aliok commented on #92
@slinkydeveloper you might want to comment on the idea you shared with us (plugins etc.)

[2020-02-04 11:38] aliok commented on #92
+1 on this.

I think we can have a single operator for core (serving+eventing) and a single operator for contrib(sources+channels+...).

Regarding versioning: I don't think we should care about version mismatches here. Operator versions should be same and they should install the same version of eventing and contrib.
I think it would be a huge burden to support the scenarios like where we have 0.11

[2020-02-04 18:14] lberk commented on #92
ISTM this kind of change puts a large burden on downstream distributions of the knative eventing operator, which is especially troublesome when considering it results in forcing support of a greater selection of upstream eventing-contrib sources.
Wouldn't it be better to create a separate sources operator resource?  Then allowing downstream to layer on top of the sources.operators resource in a wa

[2020-02-05 12:18] aliok commented on #38
We can close this issue as the short name is already deleted during this PR: https://github.com/knative/eventing-operator/pull/48

cc @k4leung4

[2020-02-05 12:18] aliok commented on #18
@k4leung4 @houshengbo You can close the ticket :)

[2020-02-05 12:49] aliok commented on #90
I can implement this

[2020-02-05 12:49] aliok commented on #90
/assign aliok

[2020-02-05 16:27] houshengbo commented on #18
Yes, knative eventing operator has aligned with knative serving operator in terms of the naming convention of CRDs.

[2020-02-05 16:27] #18 closed

[2020-02-05 16:29] houshengbo commented on #90
@aliok PLZ be advised that I am thinking of extending the scope of our tests-on-latest-eventing t verify the upgrade: https://github.com/knative/eventing-operator/pull/93. Hope we do not overlap our work.

[2020-02-05 16:44] houshengbo opened #94 "Add the upgrade tests"
Add upgrade tests into the existing prow job
[code]

The major reason is that this prow job has already tested whether the operator work with the latest generate manifest of knative eventing. Compared to creation of new prow, we can reuse this guy to do more.

[2020-02-05 16:57] houshengbo commented on #92
@aliok It is hard to define the boundary between knative or knative core and non knative core. The vast majority of the community lean on to merge the eventing and serving operators(if this becomes our ultimate goal), the benefit to users is that they can have one single operator as the one-stop entry to use knative, instead of two or even more.

If we create more operators for knative, e.g. event

[2020-02-05 23:02] evankanderson commented on #92
The list of operators at https://github.com/knative/eventing-contrib is nowhere near exhaustive; if you look at the list at https://knative.dev/docs/eventing/sources/ (which is our public registry of available sources, but should not be considered exhaustive), the breakdown is as follows:
* 5 sources in eventing-contrib
* 2 sources in eventing
* 5 sources outside eventing-contrib (knative-gcp, nac

[2020-02-06 14:45] aliok commented on #90
Some notes:
- Reconciliation will be updating existing resources and create new resources
- It won't be able to delete the old resources (that is removed in eventing manifest)

So, I wrote a small [script](https://gist.github.com/aliok/54058292e90c3e6cf47c04b9f3266497) where I feed the 0.12 manifest (`gsutil cp gs://knative-releases/eventing/previous/v0.12.0/eventing.yaml ./`) and latest nightly m

[2020-02-07 13:58] aliok commented on #90
More changes needed after https://github.com/knative/eventing/pull/2519

[2020-02-07 14:25] #90 closed

[2020-02-07 18:17] #94 closed

[2020-02-11 13:21] aliok opened #99 "Support reading KubeConfig from KUBECONFIG env var"
We don't currently support reading KubeConfig from `KUBECONFIG` env var and because of that the OLM scorecard tests fail. See https://github.com/operator-framework/community-operators/pull/1192

We support passing the masterUrl and kubeconfig as command line arguments only.

BTW, I think we need to skip having 0.12 on OperatorHub because we wouldn't make a new release only for this ticket.

I clos

[2020-02-11 15:31] houshengbo commented on #99
@aliok We can skip 0.12.0, but we can have 0.12.x as we are/will be releasing as a INDEPENDENT project. If this is a crucial fix for operator, it is also an example that operator should backport to the 0.12 release.

[2020-02-11 16:44] #99 closed

[2020-02-13 21:49] Cynocracy opened #106 "Principle of least privilege should be applied in operator (Cluster)Roles"
**Describe the bug**
Today the operator is by default granted all permissions on all resources clusterwide by a [blanket ClusterRole](https://github.com/knative/serving-operator/blob/master/config/role.yaml#L60)

**Expected behavior**
Only specifically those permissions which are necessary in order to create a functional Knative serving setup should be added, using [escalate and/or bind](https://k

[2020-02-13 21:50] Cynocracy commented on #106
/assign Cynocracy

[2020-02-14 12:31] #83 closed

[2020-02-14 13:08] aliok opened #107 "e2e test script problems when running locally"
Problems:

1. `OPERATOR_DIR` is a [relative path](https://github.com/knative/eventing-operator/blob/723874e9a1e19ed359e0589b63d7dfa9e388ccde/test/e2e-upgrade-tests.sh#L34) only and that results in strange behavior later, when we `cd` [back](https://github.com/knative/eventing-operator/blob/723874e9a1e19ed359e0589b63d7dfa9e388ccde/test/e2e-upgrade-tests.sh#L121), we won't actually cd back.
2. `ko r

[2020-02-14 13:08] aliok commented on #107
/assign @aliok

[2020-02-15 20:55] aliok commented on #70
Update:
I am still helping Operator SDK team to make the CLI supporting the cases we need at Knative operators: https://github.com/operator-framework/operator-sdk/pull/2511

We're very close to have tooling ready for our cases.

[2020-02-15 21:55] aliok commented on #55
For future reference, this ticket was closed as the discussion moved from here to Knative [operator upgrade design doc](https://docs.google.com/document/d/1HEH9b4XWqFXtitAeHvCzymEG8-dtKH5y/edit)

[2020-02-18 14:30] whitleykeith opened #111 "Enable customization of deployments the CR creates"
**Problem**
I'd like to be able to edit the spec of any deployment the eventing CR creates. This includes

* eventing-controller
* eventing-webhook
* imc-controller
* imc-dispatcher
* sources-controller

Ideally I'd like to be able to also configure the default-broker-filter/ingress deployments that get created on labeling a namespace for eventing injection, but I believe that part is done by the

[2020-02-20 11:30] aliok opened #112 "Operator writes error logs constantly when the obsolote CRD doesn't exist in the cluster"
**Describe the bug**

Operator writes error logs constantly when the obsolote CRD doesn't exist in the cluster:
[code]

It doesn't do anything when it is in this state.

**Expected behavior**
Properly skip watching of obsolete CRD when it doesn't exist.

Also, no Error logs.
Even better --> a warn log like "Obsolete CRD doesn't exist in the cluster. Skipping obsolote CRD checks"

**To Reproduce**

[2020-02-20 15:32] houshengbo commented on #112
@aliok This was why we put the old CRD in the released YAML for 0.12 here: https://github.com/knative/eventing-operator/releases/download/v0.12.0/eventing-operator.yaml,
and I suggested to add the old CRD into the CSV for operatorhub as well.

When we deploy 0.12 on a cluster with no obsolete CRD, the obsolete CRD will be created. I am not sure how this issue still came over.

[2020-02-25 17:07] aliok commented on #112
I think if it is not a big task, we can make the operator ignore the fact the old CRD doesn't exist.

Let me try this some time

[2020-02-25 17:07] aliok commented on #112
/assign @aliok

[2020-02-27 15:26] houshengbo opened #116 "sources-controller is available in 0.12, but it is removed by the reconcile loop"
**Describe the bug**
This is my mistake by adding the controller removal in 0.12, it should happen in 13.

**Expected behavior**
sources-controller is still kept in 0.12.

**To Reproduce**
Download the branch of release-0.12, and run from source code to install eventing.

**Knative release version**
0.12

**Additional context**
Add any other context about the problem here such as proposed priority

[2020-03-03 11:00] aliok opened #120 "Hide obsolete CRD in OLM"
As per [OLM docs](https://docs.openshift.com/container-platform/4.3/operators/operator_sdk/osdk-generating-csvs.html#osdk-hiding-internal-objects_osdk-generating-csvs)

apply the following annotation on the CSV to hide the obsolete CRD.
[code]

[2020-03-03 11:00] aliok commented on #120
/assign @aliok

[2020-03-05 17:46] #116 closed

[2020-03-10 08:31] aliok opened #128 "`KnativeEventing` api files live in wrong directory"
Exactly the same problem with https://github.com/knative/serving-operator/issues/336 of serving operator

**Problem**
`KnativeEventng` api files live in wrong directory.

Its group is `operator.knative.dev` but the api files are in `pkg/apis/eventing/..`.
They should be in `pkg/apis/operator/..`

This is a better practice and some tools like `operator-sdk` is expecting that kind of consistent dire

[2020-03-10 13:21] aliok commented on #70
https://github.com/operator-framework/operator-sdk/pull/2511 has lots of progress.
Once that PR is merged and we fix https://github.com/knative/eventing-operator/issues/128, we can use operator-sdk as is to generate OLM metadata.

[2020-03-10 13:22] aliok commented on #38
/close

[2020-03-10 13:22] #38 closed

[2020-03-10 15:01] houshengbo opened #129 "mutatingwebhookconfiguration legacysinkbindings is removed, but it caused upgrade error"
**Describe the bug**
This error happens to the latest master branch of eventing, since `legacysinkbindings.webhook.sources.knative.dev` is removed.

**Expected behavior**
Upgrade should have not error.

**To Reproduce**
Install 0.12 operator, and then upgrade to the latest master branch with latest eventing manifest.

[code]

**Knative release version**
master branch for master branch of eventing,

[2020-03-10 15:09] houshengbo opened #130 "Verify the current resources by checking label and its value"
**Problem**
The function named `deleteObsoleteResources` can delete the resources by verifying if the the value matches the operand's version for the label `eventing.knative.dev/release`.
Instead of deleting the obsolete resource on a release basis. Let's make it more general and intelligent.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
This is for regular user

[2020-03-10 17:34] evankanderson commented on #130
This is a possible option; one challenge (which may not be too much of a problem here) is that it's hard to perform a label search across multiple Kinds.

For the operator case, this seems feasible by maintaining a list of all Kinds which have been previously used by Knative, which (ignoring downstream packaging) should allow finding the complete set of previous resources.

[2020-03-24 11:01] aliok opened #147 "Unable to override image for `broker-ingress` with operator"
**Describe the bug**
Unable to override images for containers that are created by the eventing controllers and not the operator.

For example, we're able to change the image of `broker-controller` with registry override defined in KnativeEventing CR. With that, the operator creates the `broker-controller` and then later, `broker controller` creates `broker-ingress`.
However, `broker-ingress` is al

[2020-03-24 11:14] aliok opened #148 "Improve the container image override mechanism"
**Problem**
As seen in https://github.com/knative/eventing/issues/2794, we cannot simply use the container names for overriding images for containers. Container names can be duplicated.

Current override mechanism is like this:

[code]

This cannot handle the case that we have for `imc-controller` and `broker-controller` deployments the same container name, `controller`.

My suggestion would be in

[2020-03-24 11:56] aliok commented on #147
/assign @aliok

[2020-03-24 12:16] aliok commented on #147
Operator creates a deployment of `broker-controller` like this:
[code]

We're able to change the image for the broker-controller itself using the eventing CR like this:
[code]

but not the `BROKER_INGRESS_IMAGE`.

I suggest that we provide a mechanism to override env vars for the containers as well, not just their images.

So, the eventing CR would look like something like:
[code]

This would end

[2020-03-24 12:16] aliok commented on #147
cc @markusthoemmes

[2020-03-24 12:20] aliok commented on #147
what I suggest above is far from being ideal, but until we have things addressing the tickets noted at https://github.com/knative/serving-operator/issues/301, I think this would be a straigtforward solution.

[2020-03-24 12:21] aliok commented on #147
cc @k4leung4 @houshengbo

[2020-03-24 13:28] houshengbo commented on #148
@aliok The section `registry.override` is able to configure the image for each deployment individually: https://github.com/houshengbo/docs/blob/operator-cr-configuration/docs/install/operator/configuring-serving-cr.md#private-repository-and-private-secrets.

Here is the example for eventing CR: https://github.com/houshengbo/docs/blob/operator-cr-configuration/docs/install/operator/configuring-even

[2020-03-24 13:36] matzew commented on #147
Looking at the suggested proposal:

[code]

I think this is also interesting, since the operator can than also override other evn vars, on a given container.

[2020-03-24 13:59] matzew commented on #147
Note there are other "env var" images in eventing.

like:
* `BROKER_INGRESS_IMAGE`
* `BROKER_FILTER_IMAGE`
* `CRONJOB_RA_IMAGE`
* `PING_IMAGE`
* `APISERVER_RA_IMAGE`
* `DISPATCHER_IMAGE`

looks like the override, was only partially working, which seems to be a problem

[2020-03-24 14:11] aliok commented on #148
@houshengbo as we talked offline, the match for the override is done using the container names, not deployment names. And, in eventing, we have container names that are not unique.

We either go with a solution that I suggested in the issue description, or we use deployment names to match. However, a deployment can have more than 1 containers, although we don't have that case yet.

[2020-03-24 14:14] houshengbo commented on #148
@aliok Thanks.

I did not realize the difference between serving and eventing, in terms of how they define the deployment name and the container name for the deployment. In serving, both of them match, but in eventing, the container name is different from the deployment name.

To me, using deployment name is easier to find than using container name, coz everyone can easily find them by
[code]
If w

[2020-03-24 14:43] aliok commented on #148
Yeah, I first tried to change the container names in eventing here: https://github.com/knative/eventing/issues/2794

But I understand the concerns.

[2020-03-24 14:57] jcrossley3 commented on #147
Personally, I like the idea of a generic "environment variable override" feature in the `Knative{Serving|Eventing}` CR, e.g.

[code]
The transformer function in the operator would then set all the `Deployment` resources accordingly in the manifest.

[2020-03-24 15:13] aliok commented on #147
@jcrossley3 I think that would make things easier. It would solve my problem here and it would be actually a nicer feature.

The only downside would be that in the future there might be cases where we're passing different values for the same env var to different containers. I don't have a strong opinion on this though. No need to overengineer and solve problems we don't have right now. So, +1!

[2020-03-24 15:22] jcrossley3 commented on #147
Good point. We could provide an optional `container` attribute in addition to `name` and `value`. If omitted, the var would apply to all containers.

[2020-03-25 05:55] aliok commented on #147
We had a WG meeting yesterday and this issue was discussed there.

The outcome of the discussion is that we improve the existing image override mechanism to also override images that are defined in env vars.  The challenge in this case is to identify what env vars are images.

I will keep this ticket open for now.

[2020-03-25 06:07] aliok commented on #148
@jcrossley3 what do you say about this? matching with deployment names instead of container names?
This is not an ultimate solution like described in the PR, but it would solve the problem of having same container names for deployments. So, from one non-ideal solution to another.

[2020-03-25 14:54] #106 closed

[2020-03-25 16:39] houshengbo commented on #148
@aliok @jcrossley3 @markusthoemmes
As we discuss in our community channel, we will take the suggestion from @markusthoemmes, by using deployment/container as the key, to form a unique name, since / is not allowed in kube resource name.

[2020-03-25 16:42] jcrossley3 commented on #148
What's the behavior when there's no `/` in the key: deployment, container, or either?

[2020-03-26 12:03] aliok commented on #148
I think the container names are optional in Kubernetes deployments.
If we were to provide this as a library to use in any Kube project, we would do some more smart things but in this case I say we simply reject or ignore that override. We don't have a webhook and I wouldn't want to introduce a webhook for this. So, we should just ignore that override.
WDYT?

[2020-03-26 12:30] markusthoemmes commented on #148
I'd say if there's no `/` we default to the only container in a deployment. If the deployment has more than 1, we surface an error via the status?

[2020-03-27 19:39] #147 closed

[2020-03-30 14:41] aliok opened #156 "Add support for HA control plane"
Same as https://github.com/knative/serving-operator/issues/320 of serving operator

**Problem**
Now that leader election has landed in 0.13, we should make the operator deploy an HA configuration by default.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Users of the operator

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has b

[2020-03-30 14:43] aliok opened #157 "Unable to apply MF transforms properly"
**Describe the bug**
Because of https://github.com/manifestival/manifestival/issues/33 image override transforms cannot be applied properly

**Expected behavior**
[code]

would result in evening controller deployment's container to use `docker.io/foo/bar`

**To Reproduce**
Apply
[code]

Check evening controller deployment's container. It doesn't use `docker.io/foo/bar`

**Knative release version**

[2020-03-30 14:44] aliok commented on #156
/assign @aliok

[2020-03-30 14:44] aliok commented on #157
/assign @aliok

[2020-03-30 14:47] aliok commented on #157
oh, this is already done with https://github.com/knative/eventing-operator/pull/142/files

I was apparently checking the 0.13 branch. Fixing it on master is fine.

[2020-03-30 14:47] #157 closed

[2020-03-30 22:17] #148 closed

[2020-03-31 11:52] aliok opened #162 "KnativeEventing CRD doesn't have proper openApi validation definition"
**Describe the bug**
OpenAPI validation in KnativeEventing CRD is not good.
It doesn't provide anything useful.

[code]

**Expected behavior**
Expected is something like KnativeServing example:

[code]

**To Reproduce**
[code]

**Knative release version**
0.13.x

**Additional context**

[2020-03-31 11:53] aliok commented on #162
/label good-first-issue

[2020-03-31 16:50] AceHack opened #168 "Security: Please set pod Security Context on all Pods"
Many companies have a security requirement in place that all pods must not run as root and set the run as user.  Please set this (Or allow it to be set) on all pods.  This would mean either adding it yourself or adding it to any CRDs that end up creating pods so the user can set it.  Note this is at the pod level, not the container level.  I will be creating a separate feature request for the cont

[2020-03-31 16:59] AceHack opened #169 "Security: Please set container Security Context on all Containers"
Many companies have a security requirement in place that all containers must have a read-only file system and not allow privileged escalation.  Please set this (Or allow it to be set) on all containers.  This would mean either adding it yourself or adding it to any CRDs that end up creating containers so the user can set it.  Note this is at the container level, not the pod level.  I have created

[2020-03-31 17:21] AceHack opened #170 "Operations: Please allow setting nodeSelector, tolerations, and affinity on all Pods"
Most companies with complex enough kubernetes deployments that have multiple different node groups require some sort of topology selection so pods will run on the correct group of nodes.  Please allow setting nodeSelector, tolerations, and affinity on all Pods to accomplish this.  This includes adding it to any CRDs that create pods so these values are settable.

https://kubernetes.io/docs/concept

[2020-03-31 20:39] aliok opened #171 "No finalizers set to block deletion of the CR until everything in the manifest is deleted"
**Describe the bug**
No finalizers set on the KnativeEventing CRs.
So, when the CR is marked for deletion, we let Kubernetes delete it before the cluster scope things are deleted. Non-cluster-scope things are fine as they're `OwnerReference`d.

**Expected behavior**
No deletion of the CR until all things in the manifest are deleted.

* Create the CR
* Mark the CR for deletion
* CR is not deleted a

[2020-04-01 07:17] aliok commented on #171
/assign @aliok

[2020-04-01 10:05] aliok commented on #171
This case is hard to test with current test logic. The test at https://github.com/knative/eventing-operator/blob/f3cb7d5435c3aa14e1500284d9aaedf0494bd3cd/test/resources/verify.go#L111 cannot catch it because the cluster scope things are deleted before the test checks if they're deleted as the operator is still running.

We need to make sure the operator is not running after the CR is gone. ...to b

[2020-04-01 14:53] matzew opened #175 "Broker selection fields on install"
**Problem**

0.14 will come with two brokers:
* channel based
* multitenant channel broker

There are now different artifacts, that we need to take into account.

We have two convenient release yamls:
* [`eventing.yaml`](https://github.com/knative/eventing/blob/master/hack/release.sh#L35): this have the the `channel` version
* [`eventing-mt.yaml`](https://github.com/knative/eventing/blob/master/ha

[2020-04-01 15:28] houshengbo commented on #175
@matzew So far, the manifest is loaded before creating the CR.
To make CR configuration able to determine how to load the manifest:

One way is to load different manifest in the controller, and use a map with key-value, maintaining in the reconciler. By different CR broker configurations, reconciler can select the correct manifest, with the key of the map.

The other way is to dynamically load the

[2020-04-01 15:41] #171 closed

[2020-04-01 20:34] houshengbo commented on #175
What about we add the validation webhook in eventing-operator?
The old value of the CR is saved in the context.

Then, implement the function Validate for the eventing CR, similar to https://github.com/knative/serving/blob/master/pkg/apis/serving/v1beta1/route_validation.go#L35 to retrieve the existing value, when it is an update.

If the new value for broker is the same as the existing one, we mo

[2020-04-02 14:46] houshengbo commented on #129
This one has been fixed.

[2020-04-02 14:46] #129 closed

[2020-04-07 17:08] evankanderson commented on #168
We're going to track this in https://github.com/knative-sandbox/operator/issues/3 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:08] #168 closed

[2020-04-07 17:10] evankanderson commented on #170
We're going to track this in https://github.com/knative-sandbox/operator/issues/5 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:10] #170 closed

[2020-04-07 17:12] evankanderson commented on #169
We're going to track this in https://github.com/knative-sandbox/operator/issues/4 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:12] #169 closed

[2020-04-07 18:35] houshengbo commented on #175
As I discussed with @n3wscott. All the channels can be installed and run at the same time without influencing each other, we do not necessarily need to delete other channels, before installing the channel we select.
@jcrossley3 @matzew @aliok

[2020-04-07 19:40] matzew commented on #175
Not exactly sure what this `broker` field has to do with the channels.

But there is a some difference in the way the other channels come and bundle their yamls.:
None of the other channels, come w/ a `ConfigMap` (`config-br-defaults`) override to set themselves as `default`.

The brokers both, come with the same configmap, with different values:
* https://storage.googleapis.com/knative-nightly/ev

[2020-04-08 12:17] aliok commented on #175
What I understand is:
1. Having both brokers at the same time is possible
2. `mt-channel-broker.yaml` and `channel-broker.yaml` has some resources twice.
** Some of them are conflicting, like `config-br-defaults` configMap, which sets the mtbroker or the channelBroker as the default broker
** Some of them are simply identical

With @matzew 's PR, https://github.com/knative/eventing/pull/2936, non-

[2020-04-08 12:18] aliok commented on #175
/assign @aliok

I have the bandwidth to work on this one

[2020-04-08 13:20] houshengbo commented on #175
Thanks @aliok

[2020-04-08 17:49] aliok commented on #175
I suggest the field to be called
- `defaultBrokerClass`:  consistent with the `default-br-config` (https://raw.githubusercontent.com/knative/eventing/2c1c5c2e2e7cbb36a716e6fca8802f71704775ff/config/400-config-br-defaults.yaml)
OR
- `defaultBroker`

Ex:
[code]

[2020-04-09 14:35] houshengbo commented on #175
I see `brokerClass`, not `defaultBrokerClass`.

[2020-04-10 10:57] aliok commented on #128
/close

In the new operator I see this is fixed. https://github.com/knative-sandbox/operator

[2020-04-10 10:57] #128 closed

[2020-04-10 10:57] aliok commented on #112
/close

We don't have this problem with the newer versions

[2020-04-10 10:57] #112 closed

[2020-04-14 18:47] #175 closed

[2020-04-17 07:27] aliok commented on #156
/close

Moved this ticket to https://github.com/knative-sandbox/operator/issues/19

[2020-04-17 07:27] #156 closed

[2020-04-18 20:50] AceHack opened #194 "v0.14.0-upgrade job fails"
**Describe the bug**
When installing the knative eventing operator the v0.14.0-upgrade jobs fails with the following error.  It appears the service account it uses: `eventing-controller` does have permission to namespaces so I'm not sure what the problem is.
[code]
**Expected behavior**
Job to complete successfully

**To Reproduce**
Install eventing operator

**Knative release version**
0.14.0

[2020-04-18 20:55] AceHack commented on #194
Also, this job should likely disable istio with annotations or else it will never complete.

[2020-04-18 21:28] AceHack commented on #194
Istio is what breaks it, it seems it's not waiting for envoy to complete come up and there are no retries so it fails and never recovers.  Should add the `sidecar.istio.io/inject: "false"` annotation to the pod as I did here.  I had to create a 2nd job, I can't actually patch the first one so it stays failed forever.  This is very annoying, it would be great to get this fix into the operator.

[co

[2020-04-18 21:37] AceHack commented on #194
An alternative to disabling istio would be to use something like envoy pre-flight.

https://github.com/monzo/envoy-preflight

[2020-04-20 15:10] AceHack opened #196 "Knative eventing operator overwriting custom config"
**Describe the bug**
Customize configs like tracing or logging are getting overwritten.

**Expected behavior**
Ability to customize configs.

**To Reproduce**
Customize a config like tracing or logging.
Deploy operator and cr

**Knative release version**
0.14.0.

**Additional context**
Logs:
[code]

[2020-04-20 15:51] jcrossley3 commented on #196
How are you customizing the config? Try `kubectl edit`

[2020-04-20 16:03] AceHack commented on #196
No as part of the kubectl apply when installing the operator

[2020-04-20 16:09] AceHack commented on #196
Edit has the same result

[2020-04-20 18:36] AceHack opened #199 "Broker ingress constantly scaled up and down in 0.14.0"
**Describe the bug**
About every 30 seconds broker ingress is scaled from 1 to 2 and then about 30 seconds later it's scaled from 2 to 1 over and over in a loop.  Currently, there are no brokers in the system.

 **Expected behavior**
A more stable broker ingress scaling.

 **To Reproduce**
install eventing 0.14.0.

 **Knative release version**
0.14.0

[2020-04-20 18:36] AceHack commented on #199
Moved from eventing
https://github.com/knative/eventing/issues/3019

[2020-04-21 21:31] houshengbo commented on #199
This one is fixed by getting the eventing manifest of 0.14.1: https://github.com/knative/eventing-operator/pull/203 for release-0.14

[2020-04-22 02:27] #199 closed

[2020-04-22 02:30] AceHack opened #205 "v0.14.0-upgrade job is not cleaned up on CR removal"
**Describe the bug**
When deleting the KnativeEventing CR the v0.14.0-upgrade job fails is left around in a completed state and not cleaned up.

**Expected behavior**
v0.14.0-upgrade job to get cleaned up when KnativeEventing CR is removed.

**To Reproduce**
Install KnativeEventing CR, uninstall KnativeEventing CR.

**Knative release version**
0.14.1.

**Additional context**
Since it has the owner

[2020-04-22 02:31] AceHack commented on #194
Fixed as of 0.14.1

[2020-04-22 02:31] #194 closed

[2020-04-22 02:32] AceHack commented on #196
As of 0.14.1 eventing has the same custom config section in the CR as serving so it's fixed via that.

[2020-04-22 02:32] #196 closed

[2020-04-22 02:55] AceHack commented on #205
This is the ownerref I'm talking about. If that is set then when the KnativeEventing CR is deleted it should also delete this job or else GitOps/CD tools that keep track like ArgoCD, Flux, JenkinsX, etc.. see the uninstall as failing because not all child objects got cleaned up and orphans are left around.

[code]

[2020-04-22 03:09] AceHack commented on #205
I have only been able to reproduce this issue once, I tried twice more and the job got cleaned up.  I'm going to leave it open for a bit but I don't think this is a real issue and I will close it once I'm able to test a few more times.  Thanks.

[2020-04-28 02:10] AceHack commented on #205
Have not been able to reproduce, closing the issue.

[2020-04-28 02:10] #205 closed